<div class="sidebar">
  <ul>
    <li style="cursor: pointer;" (click)="navigateTo('/dashboard')">
      <a routerLink="dashboard">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li style="cursor: pointer;" (click)="navigateTo('/create-visit')">
      <a routerLink="create-visit">
        <i class="fas fa-plus-circle"></i> Create Visit
      </a>
    </li>
    <li style="cursor: pointer;" (click)="navigateTo('/visit-list')">
      <a routerLink="visit-list">
        <i class="fas fa-list-alt"></i> Visit List
      </a>
    </li>
  </ul>
</div>
